/*
Global
*/
body {
  padding-bottom: 40px;
  background-image: url(../img/background.jpg);
}
h1 {
  text-align: center;
  font-size: 42px;
  font-weight: 300;
}

/*
Home
*/
.header-background {
  background-image: url(../img/header-background.jpg);
  border-bottom: 1px solid #ccc;
  width: 100%;
  min-height: 350px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  box-shadow: 0 5px 5px #efefef;
  padding-top: 40px;
}
.navbar .apply-link {
  background-color: rgb(42, 133, 175);
  margin-top: 6px;
  padding-bottom: 14px;
  height: 8px;
  line-height: 9px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 6px rgb(47, 99, 139), 0 0 10px rgb(163, 218, 248);
  margin-right: 8px;
}
.navbar img.portrait {
  margin-top: -3px;
  width: 25px;
  height: 25px;
}
.testimonial {
  font-size: 32px;
  color: #ffffff;
  font-weight: 100;
  width: 400px;
  height: 150px;
  line-height: 1.25em;
  margin-left: 550px;
  margin-top: 50px;
}
.testimonial .name {
  font-size: 24px;
  font-style: italic;
  color: #ccc;
}
.headshots {
  margin-top: 20px;
}
.search-bar {
  margin-top: 20px;
}
.search-bar input.search-bar-input {
  margin-top: 20px;
  height: 20px;
  width: 600px;
  border-radius: 50px;
  font-size: 24px;
  padding: 20px;
  font-weight: 300;
}
.search-bar input.search-bar-input::-webkit-input-placeholder {
  color: #777 !important;
  padding-top: 5px !important;
  font-style: italic;
  font-weight: 100;
}
.search-bar input.search-bar-input::-ms-input-placeholder {
  color: #777 !important;
  padding-top: 5px !important;
  font-style: italic;
  font-weight: 100;
}
.search-bar input.search-bar-input::-moz-placeholder {
  color: #777 !important;
  padding-top: 5px !important;
  font-style: italic;
  font-weight: 100;
}
/*.search-bar button {
  width: 600px;
  text-shadow: 1px 1px 1px #555;
}*/

/*
Listing
*/
.listing-container {
  min-height: 1500px;
  opacity: 0;
}
.baby-cta {
  position: fixed;
  width: 240px;
  left: 0px;
  bottom: 0px;
}
.search-listing {
  height: 180px;
  padding: 20px;
  margin-top: 20px;
  background-color: white;
  border: 1px solid #ccc;
}
.search-listing .listing-left {
  float: left;
  width: 200px;
  height: 180px;
}
.search-listing .listing-left img {
  width: 180px;
  height: 180px;
}
.search-listing .listing-middle {
  float: left;
  width: 500px;
  height: 180px;
}
.search-listing .listing-middle .name {
  font-size: 28px;
  font-weight: 300;
  color: #555;
}
.search-listing .listing-middle .location {
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  color: #999;
}
.search-listing .listing-middle .description {
  position: relative;
  height: 80px;
  font-size: 14px;
  font-weight: 300;
}
.search-listing .listing-middle .detail-buttons {
  position: relative;
  top: 10px;
}
.search-listing .listing-right {
  float: right;
  width: 200px;
  height: 180px;
}

/*
Listing Detail
*/
.listing-detail-container {
  min-height: 280px;
  width: 918px;
  border-top: 1px solid #ddd;
  clear: both;
  position: relative;
  top: 20px;
}
.listing-detail-container h3 {
  text-align: center;
  font-weight: 300;
}
.listing-detail-container .review {
  height: 100px;
}
.listing-detail-container .review .portrait {
  float: left;
  width: 100px;
  height: 100px;
}
.listing-detail-container .review .meta-data {
  float: left;
  margin-left: 20px;
  width: 150px;
  height: 100px;
  font-size: 11px;
  line-height: 1.2em;
}
.listing-detail-container .review .review {
  float: left;
  width: 100px;
  height: 100px;
}
.listing-detail-container .review .title {
  font-size: 14px;
  font-weight: bold;
  width: 300px;
  height: 10px;
}
.listing-detail-container .review .rating {
  height: 15px;
  width: 100px;
}
.listing-detail-container .review .description {
  height: 50px;
  width: 550px;
  font-size: 13px;
}
.listing-detail-container .schedule {
  height: 200px;
}
.listing-detail-container .schedule table th {
  text-align: center;
  border-bottom: 2px solid #ccc;
}
.listing-detail-container .schedule table td {
  text-align: center;
  color: #aaa;
}
.listing-detail-container .schedule table td.available {
  font-weight: bold;
  color: #1ba5d2;
  font-size: 16px;
  cursor: pointer;
}
.listing-detail-container .schedule table td.available:hover {
  color: rgb(55, 194, 240);
}
.listing-detail-container .schedule table td.nanny-share {
  font-weight: bold;
  color: #FFAD00;
  font-size: 16px;
  cursor: pointer;
}
.listing-detail-container .schedule table td.nanny-share:hover {
  color: #FFC956;
}
.listing-detail-container .schedule .video {
  width: 400px;
  height: 400px;
  border: 1px solid red;
}
.listing-detail-container .video .video-player {
  margin-left: 50px;
}
.listing-detail-container .video span {
  margin-left: 50px;
}
/* 
Animations
*/
.fading-enter,
.fading-leave,
.fading-move {
  -webkit-transition: 0.2s linear all;
  -moz-transition: 0.2s linear all;
  -o-transition: 0.2s linear all;
  transition: 0.2s linear all;
  position:relative;
}
.fading-enter {
  opacity:0;
}
.fading-enter.fading-enter-active {
  opacity:1;
}

.fading-leave {
  opacity:1;
}
.fading-leave.fading-leave-active {
  opacity:0;
}

.fading-move {
  opacity:0.5;
}
.fading-move.fading-move-active {
  opacity:1;
}

/*
News Feed 
*/
.feed {
  margin-top: 50px;
}
.feed .feed-item {
  margin-top: 50px;
  margin-left: 140px;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 650px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
}
.feed .feed-item-first {
  margin-top: 0px;
}
.feed .feed-item .meta-information .portrait {
  width: 75px;
  height: 75px;
}
.feed .feed-item .meta-information p {
  width: 75px;
  text-align: left;
}
.feed .feed-item .meta-information .timedate {
  font-size: 13px;
  font-style: italic;
}
.feed .feed-item .media-item .caption {
  text-align: left;
  margin-left: 20px;
}
.social-media {
  text-align: left;
  margin-left: 20px;
}
.social-media .facebook {
  background: url('../img/facebook.png') no-repeat 0 0;
  width: 150px;
  height: 22px;
}
.social-media .twitter {
  background: url('../img/twitter.png') no-repeat 0 0;
  width: 150px;
  height: 22px;
}

/*
Apply to Blove
*/
.apply-blove {
  margin-top: 40px;
}
.apply-blove .video-section {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 50px;
  position: relative;
  width: 1340px;
  left: -230px;
}
.apply-blove .align-right {
  text-align: right;
  width: 50px;
}