<div>
  <div class="control-group">
    <div class="controls">
      <p><img src="img/nanny-sharing.png"><span><b>Hilda James</b></span></p>
      <p>Hilda James has already booked this time slot. Your request for nanny-sharing below will be sent to Hilda and Teresa.</p>
    </div>
    <div class="controls">
      <textarea type="text" class="popover-message span3" placeholder="Hi, I would like to request for nanny-share on this timeslot..." row="3"></textarea>
    </div>
    <div class="controls">
      <button type="submit" class="btn" ng-click="dismiss()">Request Nanny-Share</button>
    </div>
  </div>
</div>