<div class="header-background">
  <div class="container">
    <div class="testimonial">
      "Finding the right babysitter has never been easier."
      <br>
      <span class="name">Michelle Obama</span>
    </div>
  </div>
</div>

<div class="container search-bar" ng-controller="ListCtrl">
  <div class="pagination-centered">
    <h1>Find the perfect babysitter for your baby now.</h1>
    <p><img class="headshots" src="img/headshots.png"></p>
    <p>
      <input type="text" class="search-bar-input" placeholder="Enter your location... (e.g Mountain View, CA)" ng-model="searchInput" ng-click="scrollWindow()">
    </p>
  </div>

  <div class="baby-cta">
    <img src="img/baby-cta.png">
  </div>
  
  <div class="container listing-container">
    <ul class="unstyled">
      <li ng-repeat="babysitter in babysitters | filter:searchInput" class="search-listing img-rounded row" ng-animate="'fading'">
        <div class="listing-left">
          <img src="{{ babysitter.portrait }}" class="img-rounded">
        </div>
        <div class="listing-middle">
          <div class="name">
            <p>{{ babysitter.firstName + ' ' + babysitter.lastName }}<p>
          </div>
          <div class="location">
            <p>{{babysitter.location}}</p>
          </div>
          <div class="description">
            <p>{{ babysitter.description }}<p>
          </div>
          <listing-detail-buttons></listing-detail-buttons>
        </div>
        <div class="listing-right">
          <img src="http://maps.googleapis.com/maps/api/staticmap?center={{babysitter.location}}&zoom=15&size=200x180&sensor=false" class="img-rounded">
        </div>

        <div class="listing-detail-container">
          <div class="reviews hide">
            <h3>Overall Rating</h3>
            <p class="pagination-centered"><img src="img/ratings.png"></p>
            
            <div class="review well">
              <div class="portrait">
                <img src="http://placehold.it/100x100">
              </div>
              <div class="meta-data">
                <p>Jeff Lam Tian Hung</p>
                <p>
                  <b>Serviced Rendered</b> <br>
                  20th April 2013 - <br>
                  25th April 2013
                </p>
                <p>
                  <b>Review posted on:</b> <br>
                  27th April 2013
                </p>
              </div>
              <div class="review">
                <p class="title">Patient babysitter</p>
                <p class="rating"><img src="img/ratings.png"></p>
                <p class="description">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas sed diam eget risus varius blandit sit amet non magna. Vestibulum id ligula porta felis euismod semper. Donec sed odio dui.</p>
              </div>
            </div>
            <div class="review well">
              <div class="portrait">
                <img src="http://placehold.it/100x100">
              </div>
              <div class="meta-data">
                <p>Jeff Lam Tian Hung</p>
                <p>
                  <b>Serviced Rendered</b> <br>
                  20th April 2013 - <br>
                  25th April 2013
                </p>
                <p>
                  <b>Review posted on:</b> <br>
                  27th April 2013
                </p>
              </div>
              <div class="review">
                <p class="title">Patient babysitter</p>
                <p class="rating"><img src="img/ratings.png"></p>
                <p class="description">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas sed diam eget risus varius blandit sit amet non magna. Vestibulum id ligula porta felis euismod semper. Donec sed odio dui.</p>
              </div>
            </div>
          </div>

          <div class="schedule hide">
            <h3>Schedule</h3>
              <div class="date-picker pagination-centered">
                <i class="icon-arrow-left"></i>
                <b>June 2013</b>
                <i class="icon-arrow-right"></i>
              </div>
              <div class="timetable">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th ng-mouseover="popover()">Monday</th>
                      <th>Tuesday</th>
                      <th>Wednesday</th>
                      <th>Thursday</th>
                      <th>Friday</th>
                      <th>Saturday</th>
                      <th>Sunday</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>9:00am</td>
                      <td class="available">9:00am</td>
                      <td>9:00am</td>
                      <td>9:00am</td>
                      <td>9:00am</td>
                      <td>9:00am</td>
                      <td>9:00am</td>
                    </tr>
                    <tr>
                      <td>10:00am</td>
                      <td class="available">10:00am</td>
                      <td>10:00am</td>
                      <td class="available">10:00am</td>
                      <td>10:00am</td>
                      <td class="available">10:00am</td>
                      <td>10:00am</td>
                    </tr>
                    <tr>
                      <td>11:00am</td>
                      <td class="available">11:00am</td>
                      <td>11:00am</td>
                      <td class="available">11:00am</td>
                      <td class="available">11:00am</td>
                      <td>11:00am</td>
                      <td>11:00am</td>
                    </tr>
                    <tr>
                      <td>12:00pm</td>
                      <td class="available">12:00pm</td>
                      <td>12:00pm</td>
                      <td>12:00pm</td>
                      <td class="available">12:00pm</td>
                      <td>12:00pm</td>
                      <td>12:00pm</td>
                    </tr>
                    <tr>
                      <td>1:00pm</td>
                      <td>1:00pm</td>
                      <td>1:00pm</td>
                      <td>1:00pm</td>
                      <td>1:00pm</td>
                      <td class="available">1:00pm</td>
                      <td>1:00pm</td>
                    </tr>
                    <tr>
                      <td>2:00pm</td>
                      <td class="available">2:00pm</td>
                      <td>2:00pm</td>
                      <td class="available">2:00pm</td>
                      <td class="available">2:00pm</td>
                      <td>2:00pm</td>
                      <td>2:00pm</td>
                    </tr>
                    <tr>
                      <td class="available">3:00pm</td>
                      <td class="available">3:00pm</td>
                      <td>3:00pm</td>
                      <td>3:00pm</td>
                      <td>3:00pm</td>
                      <td class="available">3:00pm</td>
                      <td>3:00pm</td>
                    </tr>
                    <tr>
                      <td class="available">4:00pm</td>
                      <td class="available">4:00pm</td>
                      <td>4:00pm</td>
                      <td>4:00pm</td>
                      <td>4:00pm</td>
                      <td>4:00pm</td>
                      <td class="available">4:00pm</td>
                    </tr>
                    <tr>
                      <td class="available">5:00pm</td>
                      <td class="available">5:00pm</td>
                      <td>5:00pm</td>
                      <td>5:00pm</td>
                      <td>5:00pm</td>
                      <td class="available">5:00pm</td>
                      <td class="available">5:00pm</td>
                    </tr>
                    <tr>
                      <td class="available">6:00pm</td>
                      <td>6:00pm</td>
                      <td>6:00pm</td>
                      <td>6:00pm</td>
                      <td>6:00pm</td>
                      <td class="available">6:00pm</td>
                      <td>6:00pm</td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>

          <div class="video hide">
            <h3>Video Call</h3>
            <div class="video-player pagination-centered">
              <img src="http://placehold.it/550x300">
              <div id="myPublisherDiv"></div>
              <script type="text/javascript">
                // Initialize API key, session, and token...
                // Think of a session as a room, and a token as the key to get in to the room
                // Sessions and tokens are generated on your server and passed down to the client
                var apiKey = "31670772";
                var sessionId = "2_MX4zMTY3MDc3Mn4xMjcuMC4wLjF-U2F0IEp1biAwOCAxODozMjo0MCBQRFQgMjAxM34wLjMyNjAxMzMzfg";
                var token = "T1==cGFydG5lcl9pZD0zMTY3MDc3MiZzZGtfdmVyc2lvbj10YnJ1YnktdGJyYi12MC45MS4yMDExLTAyLTE3JnNpZz1hYTkyYWQ4NDU3ODI4ZTczMjhiMDI4OWYzY2E0MWE0OGU5ZWVkNmE5OnJvbGU9cHVibGlzaGVyJnNlc3Npb25faWQ9JmNyZWF0ZV90aW1lPTEzNzA3NDIxOTUmbm9uY2U9MC42OTg2NDU1Mjg4NDA2MjA2JmV4cGlyZV90aW1lPTEzNzA4Mjg1OTUmY29ubmVjdGlvbl9kYXRhPQ==";

                // Initialize session, set up event listeners, and connect
                var session = TB.initSession(sessionId);
                session.addEventListener('sessionConnected', sessionConnectedHandler);
                session.connect(apiKey, token);
                
                function sessionConnectedHandler(event) {
                  var publisher = TB.initPublisher(apiKey, 'myPublisherDiv');
                  session.publish(publisher);
                }
              </script>
            </div>
          </div>

          <div class="message hide">
            <h3>Message {{ babysitter.firstName }}</h3>
            <form class="form-horizontal">
              <div class="control-group">
                <label class="control-label" for="inputSubject">Subject</label>
                <div class="controls">
                  <input type="text" class="inputSubject span7" placeholder="Are you available to babysit on...">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputMessage">Message</label>
                <div class="controls">
                  <textarea rows="6" type="text" class="inputMessage span7" placeholder="Hi {{babysitter.firstName}}, are you available to babysit on..."></textarea>
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <button type="submit" class="btn">Send</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </li>
    </ul>  
  </div>
</div>