<div class="detail-buttons btn-group">
    <button bookmark-btn toggle ng-class="{'btn-success': on}" ng-click="toggle()" class="btn btn-medium">
      <i class="icon-bookmark" ng-class="{'icon-white': on}"></i> Bookmark
    </button>
    <button reviews-btn toggle ng-class="{'btn-success': on}" ng-click="toggle()" class="btn btn-medium">
      <i class="icon-star" ng-class="{'icon-white': on}"></i> Reviews
    </button>
    <button schedule-btn toggle ng-class="{'btn-success': on}" ng-click="toggle()" class="btn btn-medium">
      <i class="icon-calendar" ng-class="{'icon-white': on}"></i> Schedule
    </button>
    <button video-btn toggle ng-class="{'btn-success': on}" ng-click="toggle()" class="btn btn-medium">
      <i class="icon-film" ng-class="{'icon-white': on}"></i> Video
    </button>
    <button message-btn toggle ng-class="{'btn-success': on}" ng-click="toggle()" class="btn btn-medium">
      <i class="icon-envelope" ng-class="{'icon-white': on}"></i> Message
    </button>
</div>